section{
    display:flex;
    justify-content: space-around;
    padding:30px;
}
//clase para extend
.interior-tarjeta{
    background-size:  100%;
    height: 170px;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    padding:20px;
}

@mixin fondo($background-image){
    background-image:$background-image;
    @extend .interior-tarjeta
}

main section .tarjeta{ 
    width: 300px;
    /* border: 1px solid red; */
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    box-shadow: 2px 2px 3px rgba(151, 148, 148, 0.8);
   .fondo1{
        @include fondo(url("../img/bg-batman.jpg"));
    }
    .fondo2{
        @include fondo(url("../img/bg-wonderw.jpg"));
    }
    .fondo3{
        @include fondo(url("../img/bg-superman.jpg"));
    }
    i{
        color: $colorCorazon;
        font-size: 40px;
    }
    .perfil{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        background: #F3F3F3;
        padding: 20px;
        height: 340px;
        .batman{
            width: 50%;
            margin:auto;
            position:relative;
            bottom:80px;
        }
        img{
            width: 100%;
            border-radius: 50%;
        }
        h2{
            text-align: center;
            position:relative;
            bottom:70px;
            font-size:28px;
        }
        p{
            width:100%;
            /* border:1px solid red; */
            text-align: justify;
            position:relative;
            bottom:60px;
            // font-size:22px;
        }
        .boton {
            background: $colorSecundario;
            width:150px;
            height: 50px;
            /* border:1px solid red; */
            margin:auto;
            position:relative;
            bottom:30px;
            font-size:22px;
            padding: 3% 4% 4% 4%;
            border-radius:3px;
            text-align: center;
            a{
                color:$color-fuente-secundario;
                
            }
            &:hover{
                transform: scale(1.2);
             }
        }
    }
}

@media screen and (max-width:768px) /*and (orientation:landescape)*/ {
    main{
        display:flex;
       justify-content: center;
        section{
            flex-direction: column;
            width:60%;
            .tarjeta{
                margin-bottom: 20px;
            }
        }
    }   
}


@media screen and (max-width:480px){
    main{
        section{
            padding: 0px;
            width:90%;
        }
    }
    
}
